@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<div class="container">
    I'm Ufuk Yıldız, I was born 1.1.1997 in Eskişehir,Turkey. <br />
    I've graduated Computer Programming Program at Anadolu University Porsum Vocational School from 2018. <br />
    Today, I'm studying Physics at Dumlupınar University.
    And this website and contents are published from myself, take surwey 😊
</div>
<div class="container">
    <h3>My Reference Projects</h3>
<ol start="1">
    <li><a href="http://cankurye.com" target="_blank">cankurye.com - Click here for view on the browser</a></li>
    <li>E-commerce Site<a href="https://github.com/uyildiz97/ecommerce_kt1"> Click here for view</a></li>
    <li>Enterpries Information System<a href="https://github.com/uyildiz97/obs10"> Click here for view</a></li>
</ol>
    <div class="jumbotron">
        <strong>My mission is become a full stack web developer in few years and 2nd target is build embedded systems and develop their own software...</strong>
    </div>
    </div>
